<section class="explore">
   <div class="container explore_container"></div>
        <p class="explore_info">Explore eero systems on</p>
        <a class="explolre__link" href="">amazon</a>
        <a class="explore__link_shop_now" href="">Shop now</a>
        <h2 class="explore__title">More wifi for the devices in your connected home.</h2>
        <p class="explore__text">
          eero 6 systems use the power of Wi-Fi 6 to deliver faster speeds, increase your internet’s
          efficiency, and reduce network congestion. Say goodbye to dead spots and buffering with a
          connection that doesn’t slow you down, even as you add more devices.
        </p>
        <a class="explpre__link_button"  href="" ">Find your eero system </a>
      </section>