<section class="explore">
   <div class="container explore_container"></div>
        <p class="explore_info">Explore eero systems on</p>
        <a class="explolre__link" href="">amazon</a>
        <a class="explore__link link href="" ">Shop now</a>
        <h2 class="explore-title">More wifi for the devices in your connected home.</h2>
        <p class="explore-text">
          eero 6 systems use the power of Wi-Fi 6 to deliver faster speeds, increase your internet’s
          efficiency, and reduce network congestion. Say goodbye to dead spots and buffering with a
          connection that doesn’t slow you down, even as you add more devices.
        </p>
        <a href="" class="primeri-link link">Find your eero system </a>
      </section>