<header class="cantainer">
    <p class="header__text">Free 2-day shipping | 30-day money back guarantee</p>
    <div class="header__wrap">
    <a href=""> <img class="logo" src="images/logo.jpg" alt="eero"></a>
    <nav>
        <ul class="header__list">
            <li class="header__item"><a href="" class="header__link">Products</a></li>
            <li class="header__item"><a href="" class="header__link">How it works</a></li>
            <li class="header__item"><a href="" class="header__link">Technology</a></li>
            <li class="header__item"><a href="" class="header__link">eero Secure</a></li>
            <li class="header__item"><a href="" class="header__link">Support</a></li>
            <li class="header__item"><a href="" class="header__link">Find your system</a></li>
        </ul>
    </nav>
    <a href="" class="header__button link">Shop</a>
    </div>
</header>
