<header>
    <p class="header__text">Free 2-day shipping | 30-day money back guarantee</p>
    <a href=""> <img class="logo" src="images/logo.jpg" alt="eero"></a>
    <nav>
        <ul class="header__list">
            <li class="header__item"><a href="" class="nav-link link">Products</a></li>
            <li class="header__item"><a href="" class="nav-link link">How it works</a></li>
            <li class="header__item"><a href="" class="nav-link link">Technology</a></li>
            <li class="header__item"><a href="" class="nav-link link">eero Secure</a></li>
            <li class="header__item"><a href="" class="nav-link link">Support</a></li>
            <li class="header__item"><a href="" class="nav-link link">Find your system</a></li>
        </ul>
    </nav>
    <a href="" class="header-link link">Shop</a>
</header>
