<section class="potential">
    <div class="potential__overlay">
  <ul class="potential__list">
      <li class="potential__item">
          <svg class="potential__svg" width="77" height="77" > 
              <use href="images/symbol-defs.svg/#icon-wifi_1"> </use>
          </svg>
      </li>
    <li class="potential__item">
        <svg class="potential__svg" width="77" height="77" >
            <use href="images/symbol-defs.svg/#amagon"> </use>
        </svg>
    </li>
    <li class="potential__item">
        <svg class="potential__svg" width="77" height="77" >
         <use href="images/symbol-defs.svg/#icon-wifi_3"></use>
        </svg>
    </li>
     
  </ul>
            <h2>Unlock your wifi’s potential.</h2>
            <P>Both eero 6 and eero Pro 6 feature a built-in Zigbee smart home hub, making it easy to connect compatible
                devices with
                Alexa. So you can control certain lights, locks, plugs, and more—without the need to buy separate smart
                home hubs for
                each.</P>
            <a href="">Learn More</a>
        </div>
        </section>