.covers {
  background-color: #161f49;
  max-width: 1440px;
  height: 840px;

  &__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
  }
  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    color: #ffffff;
  }
  &__button {
    background: #2468ff;
    border-radius: 0px;
    border-color: transparent;
  }
  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.11px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
