.eero  {
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;

}
.eero__title {
    width: 328px;
}
.eero__numbers__list {
    list-style: none;
}
.eero__numbers__item {
}
.eero__img {
}
.eero__buttons {
}
.eero__buttons__prev {
}
.eero__buttons__list {
    list-style: none;
}
.eero__buttons__item {
}
.eero__buttons__post {
}
.eero__button-last {
}