.explore {
}
.container {
}
.explore_container {
}
.explore_info {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #404040;
}
.explolre__link {
}
.explore__link_shop_now {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #404040;
}

.explore__title {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 60px;
text-align: center;
color: #404040;
}
.explore__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #404040;
}
.explpre__link_button {
    width: 244px;
    height: 62px;
    background: #2468FF;
    border-radius: 0px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.11px;
    text-transform: uppercase;
    color: #FFFFFF;
}