.hero{
    background-color: tomato;
}

.hero__title{
    font-weight: 400;
    font-size: 72px;
    line-height: 1.11;
    color: #FFFFFF;
}

.hero__text{
    font-weight: 400;
    font-size: 21px;
    line-height: 1.38;
    color: #FFFFFF;
}

.hero__btn{
    font-weight: 400;
    font-size: 14px;
    line-height: 0.96;
    text-align: center;
    letter-spacing: 0.11px;
    text-transform: uppercase;
    color: #FFFFFF;
}
