.header__text{
    font-size: 14px;
line-height: 1.64;
text-align: center;
letter-spacing: 0.10998px;
color:#fff;
background-color: #161F49;
padding: 5px;
}

.logo{
    width: 107px;
    height: 47px;
    margin-left: 36px;
    margin-top: 17px;
    margin-bottom: 17px;
   
}
.header__wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__link{

font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1.4;


text-align: center;
letter-spacing: 0.10998px;

color: #404040;
}
.header__item:not(:last-child){
    margin-right: 37px;
}
.header__button{
    
    color: #fff;
    background-color: #2468FF;
    padding: 27px 64px;
    font-size: 14px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.10998px;
    text-transform: uppercase;
}